.o-estilos-container{
    width: 60%;
    margin-top: 5rem;
}
.o-estilo-container{
    display: flex;
    justify-content: center;
}
.o-estilo{
    margin-bottom: 3rem;
}
    .o-estilo p{
        text-align: justify;
    }