#o-title{
    background-color: #5D00FD;
    color: white;
    margin-top: 4%;
}

.o-color-code{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 4px;
    padding: 0rem 11rem 1rem;
}
    section .card{
        width: 45%;
        padding: 2rem;
        margin-bottom: 4px;
    }
        section .card img{
            width: 90%;
        }
            .card #color-blue{
            background-color: blue;
            padding: 0rem .5rem;
            border-radius: 4px;
            color: white;
        }
        .card #color-pink{
            background-color: rgb(255, 0, 200);
            border-radius: 4px;
            color: white;
        }
        .card #color-orange{
            background-color: rgb(255, 123, 0);
            color: white;
        }
        .card #color-green{
            background-color: rgb(123, 255, 0);
        }